<!-- top banner -->
<div id="topBannerSection" class="uk-section uk-section-small uk-background-cover" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/images/banner-yorkie-dog.jpg);">

  <div id="topBannerContainer" class="uk-container">

     <div class="uk-child-width-1-1 uk-text-center uk-text-left@s" uk-grid>

       <div>
         <h1 class="fontWhite fontHeavyWeight editable">{{ page.articleH1 }}</h1>
         <p class="fontWhite editable">{{ page.articleDesc }}</p>

       </div>

     </div>

  </div><!-- ed topBannerContainer -->

</div><!-- end topBannerSection -->
